@model Practica5.Models.CicloDetailView
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4">Details</h2>
<br />
<br />
<div class="container" asp-controller="">
    <div class="row">
        <h2>CICLOS</h2>
        <div class="col-5">
            <table class="table table-bordered ">
                <tr class="d-flex">
                    <th class="col-3">CICLO</th>
                    <td class="col-9">@Model.ciclo.Nombre</td>
                </tr>
                <tr class="d-flex">
                    <th class="col-3">CURSOS</th>
                    <td class="col-9">@Model.ciclo.Cursos</td>
                </tr>

            </table>
            <br />
            <h2>CURSOS</h2>
            <table class="table table-bordered ">
                <tr class="d-flex">
                    <th class="col-2">CURSO</th>
                    @foreach (var c in Model.Cursos)
                    {
                        <td class="col-5">@c.Curso</td>
                    }
                </tr>
                <tr class="d-flex">
                    <th class="col-2">AULA</th>

                    @foreach (var c in Model.Cursos)
                    {
                        <td class="col-5">
                            @c.Aula
                        </td>
                    }
                </tr>

            </table>

        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <h2>ALUMNOS</h2>
            <table class="table table-bordered  table-striped ">

                <tr>
                    <th>
                        CURSO
                    </th>
                    <th>
                        DNI
                    </th>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        EDAD
                    </th>
                    <th>
                        TELEFONO
                    </th>



                </tr>

                @foreach (var item in Model.Alumnos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                             <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        </td>
                        <td><a asp-action="delete" asp-route-dni="@item.DNI">Borrar Alumno</a> |
                            <a asp-action="edit" asp-route-dni="@item.DNI">Editar Alumno</a>
                        </td>

                    </tr>
                }
            </table>
            <a asp-action="addCurso" asp-route-siglas="@Model.ciclo.Siglas"><button>CREAR CURSO</button></a>
            <a asp-action="addAlumno" asp-route-siglas="@Model.ciclo.Siglas"><button>AÑADIR ALUMNO</button></a>
        </div>
        <div class="col-6">
            <h2>PROFESORES</h2>
            <table class="table table-bordered  table-striped ">

                <tr>
                    <th>
                        NOMBRE
                    </th>
                    <th>
                        DNI
                    </th>
                    <th>
                        EMAIL
                    </th>



                </tr>

                @foreach (var item in Model.Profesores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DNI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>


                    </tr>
                }
            </table>
        </div>
    </div>
</div>





